openai
duckdb
pandas
numpy
agno
langchain
python-dotenv
langchain_core
langchain_openai
langchain_community
google_generativeai
google_genai
fastapi
uvicorn
python-multipart
pydantic
pandas
openpyxl
xlrd         
litellm["proxy"]
pillow